.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

.container {
  border: 0.1rem solid #8e8c8c;
  width: 40rem;
  height:  40rem;
  border-radius: 0.4rem;
  display: grid;
  padding: 1.6rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

